@import "variable";
@import "helper";
@import "typography";
@import "accordian";
@import "grid_form";
@import "overwrite";
@import "instructions";
@import "report_table";
@import "notification";

.app-container {
	//padding: 8px;
	background-color: $appbg;
}

.steps-link {
	li {
		p {
			a {
				color: $accent;
				font-family: $medium-font;
				text-decoration: none;
			}
			.link-connect {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}